@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
body {
  background: linear-gradient(to right, #00aaff, #00ff6c);
  font-family: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
}
.card {
  background-color: #fff;
  border-radius: 4px;
  max-width: 700px;
  margin: 10% auto;
  height: 380px;
  position: relative;
  padding: 34px;
  color: #444;
  cursor: default;
}
.card:before {
  content: "";
  display: block;
  position: absolute;
  background-color: #ccc;
  left: 20px;
  right: 20px;
  bottom: 0;
  top: 50%;
  z-index: -1;
  box-shadow: 0 0 40px #999;
  transition: box-shadow 0.2s ease-in-out;
}
.card.level-3:hover:before {
  box-shadow: 0 0 80px #999;
}
.card h5 {
  font-weight: 300;
  font-size: 30px;
}

a {
  text-decoration: none;
}
